
  </body>
  <footer>
    <a target="_blank" href="https://soundcloud.com/user-982964117"><i class="fa fa-soundcloud fa-2x icon1" aria-hidden="true"></i></a>
    <a target="_blank" href="https://www.youtube.com/channel/UC4-q8Ue1xH69GAbUi9TWB_A"><i class="fa fa-youtube-play fa-2x icon2" aria-hidden="true"></i></a>
    <a target="_blank" href="https://www.instagram.com/denissegarra"><i class="fa fa-instagram fa-2x icon3" aria-hidden="true"></i></a>
    <a target="_blank" href="https://www.mixcloud.com/denissegarra/"><i class="fa fa-mixcloud fa-2x icon4" aria-hidden="true"></i></a>
  </footer>
  <script type="text/javascript" src="assets/lib/scripts.js"></script>
</html>
